html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* CSS Rest ends */


@font-face {
  src: url(fonts/AozoraMincho-bold.ttf);
  font-family: AozoraMinchoB;
}
@font-face {
  src: url(fonts/AozoraMinchoRegular.ttf);
  font-family: AozoraMinchoR;
}
@font-face {
  src: url(fonts/HelveticaNeue.ttc);
  font-family: HelveticaNeue;
}


.container{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.hero{
  width: 1280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.hero img{
  width: 100%;
  height: 100%;
  background: #200;
}
.section-01{
  box-sizing: border-box;
  padding-top: 60px;
  width: 1280px;
  height: 750px;
}
.section-01 h2{
  width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-weight: lighter;
    font-family: AozoraMinchoR;
    color: #01978F;
    letter-spacing: 2px;
}
.section-01 h2 img{
  width: 50px;
    display: block;
    margin-top: 50px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
}
.skindiff img{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section-02{
  width: 1280px;
  background: #ECFAF9;
  height: 1100px;
  padding-top: 80px;
  box-sizing: border-box;
}
.section-02 #heading{
  padding-top: 40px;
  width: 550px;
  margin: 0 auto;
}
#heading h2{
  font-size: 50px;
  font-weight: lighter;
  font-family: AozoraMinchoR;
  letter-spacing: 2px;
  float: left;
  margin-top: 55px;
  margin-right: 20px;
  vertical-align: middle;
}
#heading img{
  width: 230px;
}


.section-02 h3{
  width: 740px;
  color: #01978F;
  font-size: 50px;
  font-weight: lighter;
  font-family: AozoraMinchoR;
  letter-spacing: 2px;
  border-top: 2px solid  #01978F;
  border-bottom: 2px solid  #01978F;
  margin: 40px auto;
  text-align: center;
  box-sizing:border-box;
  padding: 20px 0;
}

.section-02 #list{
  background-color: #F5F6F7;
  width: 830px;
  margin: 0 auto;
  padding: 60px 80px;
  box-sizing: border-box;
}

.section-02 .container{
  height: 930px;
}
#list ul{
list-style-image: url(../images/checked.png);

}
#list ul li{
  font-size: 30px;
  font-family: Helvetica;
  margin-bottom: 50px;
  padding-left: 20px;
  letter-spacing: 2px;
  font-weight: 100;
}
#list ul li span{
  color: #01978F;
font-weight: 500;
}


#list ul li:last-child{
  margin-bottom: 0px
}
.whitebg{
background-color: white;
}
.section-03{
  width: 1280px;
height: 1200px;
padding-top: 120px;
}
.section-03 h2{
  font-size: 50px;
  font-weight: lighter;
  font-family: AozoraMinchoR;
  letter-spacing: 2px;
  width: 550px;
  margin: 0 auto;
  margin-bottom: 130px;
}
.clear{
  clear: both;
}
.section-03 .gray{
background: #F5F6F7;
width: 950px;
height: 130px;
margin: 0 auto;
text-align: center;
box-sizing: border-box;
color: #01978F;
font-size: 50px;
font-weight: 100;
font-family: AozoraMinchoR;
letter-spacing: 2px;
padding-top: 40px;
}
.spray_section{
  margin-top: 90px;
  height: 800px;
}
.section-03 img:first-child{
  width: 250px;
  display: block;
  float: left;
}

#info_pro {
    float: left;
    width: 706px;
    margin-left: 40px;
    margin-top: 40px;
  }
  #info_pro h2{
    font-size: 50px;
    font-weight: lighter;
    font-family: AozoraMinchoR;
    letter-spacing: 2px;
    width: 650px;
    margin: 0px;
    margin-bottom: 50px;s
  }

  #info_pro h3{
    color: #01978F;
    font-size: 75px;
    font-weight: 100;
    font-family: AozoraMinchoR;
    letter-spacing: 2px;
    line-height: 130%
  }

  #info_pro p{
    font-size: 35px;
    font-weight: 100;
    font-family: AozoraMinchoR;
    margin-top: 30px;
  }
#bottom_gray{
    position: relative;
    bottom: 200px;
    z-index: -1;
  }
  .mt-80{
    margin-top: 50px;
  }
.section-03 img:last-child{
  width: 100%;
  height: 180px;
}
